@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700|Source+Code+Pro:300');

body {
  background: #ecf0f1;
  color: #2c3e4f;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body.home {
  background: url("/static/img/bg.jpg") fixed no-repeat center center;
  background-size: cover;
}

header {
  margin-top: 1rem;
}

nav, footer {
  background: rgba(44, 62, 79, 0.8);
}

.navbar {
  padding: 0 1rem;
}

h1 {
  margin-bottom: 0;
}

.navbar img {
  display: none;
  width: 10%;
}

.navbar svg {
  height: 3rem;
  fill: #ecf0f1;
}

a.navbar-brand:hover, a.navbar-brand:visited, a.navbar-brand:active {
  border-bottom: none;
}

a.nav-link, footer {
  white-space: nowrap;
  color: #ecf0f1;
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  text-transform: lowercase;
}

nav a:hover, nav a:active  {
  border-bottom: none;
  color: #fc2a3a !important;
}

.nav-characters, footer {
  color: #ecf0f1;
}

main {
  margin-top: 5rem;
}

footer {
  box-sizing: border-box;
  width: 100%;
  margin-top: 5rem;
  padding: 0 1rem;
  text-align: right;
}

.home footer {
  position: absolute;
  bottom: 1rem;
}

footer img {
  height: 4rem;
}

a {
  color: #fc2a3a;
}

a:hover, a:visited, a:active {
  color: #fc2a3a;
  border-bottom: 1px solid #fc2a3a;
  text-decoration: none;
}

h2 {
  font-family: "Source Code Pro", monospace;
  color: #72bff6;
  margin-bottom: 2rem;
  letter-spacing: .1rem;
  text-transform: lowercase;
}

h2::before {
  content: "</";
}

h2::after {
  content: ">";
}

section.home {
  box-sizing: border-box;
  margin-left: auto;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.8);
  color: #ecf0f1;
}

section.home .storyline-link {
  text-align: right;
  margin: 0;
}

section.home a {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
  text-transform: lowercase;
}

.profile {
  margin-bottom: 2rem;
}

.profile td {
  padding: .5rem;
}

.profile .field {
  font-weight: bold;
}

.btn-primary {
  background: #fc2a3a;
  border-color: #ce001c;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  color: #ffffff;
  background-color: #ce001c;
  border-color: #fc2a3a;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .navbar svg {
    height: 3rem;
  }

  .navbar img {
    display: inline;
  }

  section.home {
    width: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar svg {
    height: 5rem;
  }
  a.nav-link {
    font-size: 1.25rem;
    letter-spacing: .1rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
