{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta charset="UTF-8">
  	<title></> We Did It 7 // {% block title %}{% endblock %}</title>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  </head>

  <body {% block home %}{% endblock %}>


  	<header>

      <nav class="navbar navbar-expand-md navbar-dark">
        <a href="/">
          <h1>
            <img src="{% static 'img/WDI7-logo-full.svg' %}" alt="We Did It 7" class="svg navbar-brand d-none d-lg-block">
            <img src="{% static 'img/WDI7-logo-simplified.svg' %}" alt="We Did It 7" class="svg navbar-brand d-none d-md-block d-lg-none">
            <img src="{% static 'img/WDI7-logo-mark.svg' %}" alt="We Did It 7" class="svg navbar-brand d-block d-md-none">
          </h1>
        </a>
        <img src="{% static 'img/slashes.png' %}">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}"><span class="nav-characters">&lt;/</span>Home<span class="nav-characters">&gt;</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'storyline' %}"><span class="nav-characters">&lt;/</span>Storyline<span class="nav-characters">&gt;</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'team' %}"><span class="nav-characters">&lt;/</span>The Team<span class="nav-characters">&gt;</span></a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'share' %}"><span class="nav-characters">&lt;/</span>Share<span class="nav-characters">&gt;</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}"><span class="nav-characters">&lt;/</span>Profile<span class="nav-characters">&gt;</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"><span class="nav-characters">&lt;/</span>Sign Out<span class="nav-characters">&gt;</span></a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}"><span class="nav-characters">&lt;/</span>Sign Up<span class="nav-characters">&gt;</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><span class="nav-characters">&lt;/</span>Sign In<span class="nav-characters">&gt;</span></a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>

  	</header>

  	<main>

  		<div class="container">

          {% block content %}
          {% endblock %}

      </div>

    </main>

    <footer>

      <img src="{% static 'img/slashes.png' %}"> &lt;© 2018 WeDidIt7.com. All rights reserved./&gt;

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>


  </body>

</html>
