{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title></> We Did It 7 // {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>

	<header>
		<h1>&lt;/&gt; We Did It 7 //</h1>

    <div class="container">
      <div class= "navbar-wrapper">
        <div class="navbar">
          <button type="button" class="navbarbutton" placeholder="button" ></button>
          <button type="button" class="navbarbutton" placeholder="button" ></button>
          <button type="button" class="navbarbutton" placeholder="button" ></button>
        </div>
      </div>
    </div>

	</header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="{% static './js/app.js' %}"></script>
</body>
</html>
