{% extends 'base.html' %}

{% block home %}class="home"{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="home">

  <p>
    This is a page where we all can do posts about all the happy and joyous memories we have had during our time as WDI7. Feel free to post pictures, stories and whatever you want. Lets continue this going and stay in touch after this tremendous journey is done! We love you all.
  </p>

  <p class="storyline-link">
    <a href="{% url 'storyline' %}"><span class="nav-characters">&lt;/</span>See Our Story<span class="nav-characters">&gt;</span></a>
  </p>

</section>

{% endblock %}
