{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>WeDidIt7</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<div class="container">
	<div class= "navbar-wrapper">
		<div class="navbar">
			<a href="{% url 'Storyline' %}">storyline</a>
			<a href="{% url 'signup' %}">signup</a>
			<a href="{% url 'signin' %}">signin</a>
			<a href="{% url 'profile' %}">profile</a>
			<a href="{% url 'post' %}">post</a>
		</div>
	</div>
	<header>
		<h1>Hello World!</h1>
	</header>
	<section>
		
	</section>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="{% static './app.js' %}"></script>
</body>
</html>
