<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>WeDidIt7</title>
</head>
<body>
	<header>
		<h1>Hello World!</h1>
	</header>
	<section>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit reiciendis quas quibusdam maxime quaerat nostrum, sequi velit neque necessitatibus molestias omnis ratione odio adipisci officia, accusantium corrupti et, nisi consequatur!</p>
	</section>
	<section>
		<h3>Meet the team!</h3>
		{% for user in users %}
				<p>First Name: {{ user.first_name }}</p>
				<p>Last Name: {{ user.last_name }}</p>
	    		<p>Username: {{ user.username }}</p>
	    		<p>Phone: {{ user.phone }}</p>
	    		<p>Email: {{ user.email }}</p>
	    		<p>Phone: {{ user.phone }}</p>
	    		<p>Motto: {{ user.motto }}</p>
			<hr>
		{% endfor %}
	</section>
</body>
</html>